---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Las noticias del Futbol";
import BlogPost from "../componentes/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<style>
	p {
		text-align: top;
	}
	div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		top: 10px;
		
	}
	section {
		padding: 10px;
		border: 10px;
		margin: 2px;
		background-color: rgb(78, 4, 43);
	}

	h3 {
		background-color: rgb(240, 215, 204);
	}
</style>
<BaseLayout pageTitle={pageTitle}>
	
	<h3>Mira los Twittazos de:</h3>
	<div class="div-blog">
		
		<section class="Section1">
			<a
				class="twitter-timeline"
				href="https://twitter.com/MatteMoretto?ref_src=twsrc%5Etfw"
				>Tweets by MatteMoretto</a
			>
			<script
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
			
		</section>

		<section class="Section2">
			<a
				class="twitter-timeline"
				href="https://twitter.com/FabrizioRomano?ref_src=twsrc%5Etfw"
				>Tweets by FabrizioRomano</a
			>
			<script
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
		</section>
	</div>
</BaseLayout>

<p>Principales enlaces y Posts</p>
<ul>
	<li><a href="https://as.com/futbol/primera/">As</a></li>
	<li>-</li>
	<li>
		<a href="https://www.marca.com/futbol/primera-division.html">Marca</a>
	</li>
	<li>-</li>
	<li><a href="https://www.sport.es/">Sports</a></li>
	<li>-</li>
	<li>
		<a href="https://www.mundodeportivo.com/futbol/laliga"
			>Mundo Deportivo</a
		>
	</li>
	<li>-</li>
	<li><a href="https://www.laliga.com/noticias?page=1">La Liga</a></li>
</ul>
<!-- <ul>
	{
		allPosts.map((post) => (
			<BlogPost url={post.url} title={post.frontmatter.title} />
		))
	}
</ul> -->
