---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Las noticias de La Liga";

---
<BaseLayout pageTitle={pageTitle}>
	<h2>Sigue las noticias de la liga</h2>
  		<p>Principales enlaces y Posts</p>
		<ul>
      		<li><a href="https://as.com/futbol/primera/">As</a></li>
			<li>-</li>
			<li><a href="https://www.marca.com/futbol/primera-division.html">Marca</a></li>
			<li>-</li>
      		<li><a href="https://www.sport.es/">Sports</a></li>
			<li>-</li>
			<li><a href="https://www.mundodeportivo.com/futbol/laliga">Mundo Deportivo</a></li>
			<li>-</li>
			<li><a href="https://www.laliga.com/noticias?page=1">La Liga</a></li>
    	</ul>
		<ul>
			<li><a href="./posts/post-1">Post-1</a></li>
			<li><a href="./posts/post-2">Post-2</a></li>
			<li><a href="./posts/post-2">Post-3</a></li>
		</ul>
</BaseLayout>

