---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Las noticias del Futbol";

---
<style>p{text-align: left;}</style>
<BaseLayout pageTitle={pageTitle}>
	
	<a href="https://www.sport.es/es/noticias/futbol-internacional/hilal-quiere-anunciar-fichaje-leo-88247528">
		<h3>Al-Hilal quiere anunciar el fichaje de Leo Messi el 6 de junio</h3></a>
		<p>El equipo de Arabia Saudí Al-Hillal tiene la intención de anunciar el fichaje de Leo Messi el próximo martes 6 de junio, según ha podido saber SPORT de fuentes que provienen del seno del club. El Al-Hilal se ha puesto esta fecha como clave para tener el sí definitivo del jugador y poder activar todo el protocolo preparado con el fin de que la noticia tenga un eco mundial y, al mismo tiempo, sirva para empezar a exhibir Arabia Saudí al mundo.</p>
		<img src="https://estaticos-cdn.sport.es/clip/d7a3223c-baf2-4899-a1a3-a8c1b3334bf1_16-9-aspect-ratio_default_0.jpg" width="500" alt="">
  		<p>Principales enlaces y Posts</p>
		<ul>
      		<li><a href="https://as.com/futbol/primera/">As</a></li>
			<li>-</li>
			<li><a href="https://www.marca.com/futbol/primera-division.html">Marca</a></li>
			<li>-</li>
      		<li><a href="https://www.sport.es/">Sports</a></li>
			<li>-</li>
			<li><a href="https://www.mundodeportivo.com/futbol/laliga">Mundo Deportivo</a></li>
			<li>-</li>
			<li><a href="https://www.laliga.com/noticias?page=1">La Liga</a></li>
    	</ul>
		<ul>
			<li><a href="./posts/post-1">Post-1</a></li>
			<li><a href="./posts/post-2">Post-2</a></li>
			<li><a href="./posts/post-2">Post-3</a></li>
		</ul>
</BaseLayout>

