---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "";
localStorage.CountVisit;
---

<!-- <script>
	import "../scripts/counter.js";
</script> --><!-- <div class="portada" id="cuenta"></div> -->
<BaseLayout pageTitle={pageTitle}>

	<section>
		<select name="Jornada" id="SelectJornada">
			<option value="Jornada1">Jornada 1</option>
			<option value="Jornada2">Jornada 2</option>
			<option value="Jornada3">Jornada 3</option>
			<option value="Jornada4">Jornada 4</option>
			<option value="Jornada5">Jornada 5</option>
			<option value="Jornada6">Jornada 6</option>
		</select>
		<button name="ButtonJornada" id="ButtonJornada">Buscar</button>
					
		<table>
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Resultado Local</th>
					<th>Vs</th>
					<th>Resultado Visitante</th>
					<th>Equipo Local</th>
					<th>Equipo Visitante</th>
				</tr>
				<!-- <tr>
					<td id="tdFecha"></td>
				</tr> -->
			</thead>
			<tbody id="data-output">

			</tbody>    
		</table>
		<div id="div"></div>
	</section>

</BaseLayout>
