---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Jornada 38</h2>
  <table>
	<tr>
		<th>Fecha</th>
		<th>Hora</th>
		<th>Resultado</th>
		<th>Equipo Local</th>
		<th>Equipo Visitante</th>
	</tr>
	<tr>
		<td>DOM  04.06.2023</td>
		<td>11:30</td>
		<td>Vs</td>
		<td>RCD Mallorca</td>
		<td>Rayo Vallecano</td>
	</tr>
  </table>
</BaseLayout>