---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "";
localStorage.CountVisit;
---

<!-- <script>
	import "../scripts/counter.js";
</script> --><!-- <div class="portada" id="cuenta"></div> -->
<BaseLayout pageTitle={pageTitle}>



	<!-- <h1>Counter of visits: {localStorage.CountVisit}</h1>
	<script>
		console.log('Prueba Console log: ',localStorage.CountVisit)
	</script> -->
	<!-- D:\Personal\Astro_JS\tremendous-trappist\src\BB_f1db64fb-f7c8-4575-ae04-f675104330af_FPpreview.mp4 -->
</BaseLayout>
