---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Jornada 38</h2>
	<div>
		<table>
			<tr>
				<th>Fecha</th>
				<th>Hora</th>
				<th>Resultado</th>
				<th>Equipo Local</th>
				<th>Equipo Visitante</th>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>Vs</td>
				<td>RCD Mallorca</td>
				<td>Rayo Vallecano</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>Vs</td>
				<td>Real Sociedad</td>
				<td>Sevilla FC</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>Vs</td>
				<td>Real Madrid</td>
				<td>Athletic Club</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>Vs</td>
				<td>Villarreal CF</td>
				<td>Atl▒tico de Madrid</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>Vs</td>
				<td>CA Osasuna</td>
				<td>Girona FC</td>
			</tr>
		</table>
	</div>
</BaseLayout>
