---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "La Liga";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Jornada 38</h2>
	<div>
		<table>
			<tr>
				<th>Fecha</th>
				<th>Hora</th>
				<th>Resultado</th>
				<th>Equipo Local</th>
				<th></th>
				<th>Equipo Visitante</th>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>RCD Mallorca</td>
				<td>Vs</td>
				<td>Rayo Vallecano</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Real Sociedad</td>
				<td>Vs</td>
				<td>Sevilla FC</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Real Madrid</td>
				<td>Vs</td>
				<td>Athletic Club</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Villarreal CF</td>
				<td>Vs</td>
				<td>Atlético de Madrid</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>CA Osasuna</td>
				<td>Vs</td>
				<td>Girona FC</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Real Betis</td>
				<td>Vs</td>
				<td>Valencia CF</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>RC Celta</td>
				<td>Vs</td>
				<td>FC Barcelona</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Real Valladolid CF</td>
				<td>Vs</td>
				<td>Getafe CF</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>Elche CF</td>
				<td>Vs</td>
				<td>Cádiz CF</td>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>-</td>
				<td>RCD Espanyol de Barcelona</td>
				<td>Vs</td>
				<td> UD Almería</td>
			</tr>
		</table>
	</div>
</BaseLayout>
