---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "La Liga";
---

<BaseLayout pageTitle={pageTitle}>
	<a
		><img
			src="https://cdn.icon-icons.com/icons2/1637/PNG/256/laliga_109475.png"
			width="50"
			height="50"
		/></a
	>
	<h2>Jornada 38</h2>
	<div>
		<table>
			<tr>
				<th>Fecha</th>
				<th>Hora</th>
				<th>Resultado</th>
				<th>Equipo Local</th>
				<th></th>
				<th>Equipo Visitante</th>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>3 - 0</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/11/rcd_mallorca-logo_brandlogos.net_jd9ue-512x512.png"
						width="20"
						alt=""
					/> RCD Mallorca</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2012/11/rayo-vallecano-logo-vector.png"
						width="20"
					/> Rayo Vallecano</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>2 - 1</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/12/real-sociedad-logo.png"
						width="20"
						alt=""
					/> Real Sociedad</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/10/sevilla_fc-logo_brandlogos.net_uv8lu-512x512.png"
						width="20"
						alt=""
					/> Sevilla FC</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>1 - 1</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/10/real_madrid_cf-brandlogo.net_-512x512.png"
						width="20"
						alt=""
					/> Real Madrid</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/11/athletic_bilbao-logo_brandlogos.net_jwlsk-512x512.png"
						width="20"
					/> Athletic Club</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>2 - 2</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/12/villarreal_cf-logo-brandlogos.net_-512x512.png"
						width="20"
						alt=""
					/> Villarreal CF</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2021/09/atltico-madrid-logo-512x512.png"
						width="20"
						alt=""
					/> Atlético de Madrid</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>11:30</td>
				<td>2 - 1</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/11/ca_osasuna-logo_brandlogos.net_sks0n-512x512.png"
						width="20"
						alt=""
					/> CA Osasuna</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2013/11/girona-fc-vector-logo.png"
						width="20"
						alt=""
					/> Girona FC</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>En Directo</td>
				<td>1 - 1</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/12/real_betis-logo_brandlogos.net_5i9f8-512x512.png"
						width="20"
						alt=""
					/> Real Betis</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/10/valencia-cf-logo-512x512.png"
						width="20"
						alt=""
					/> Valencia CF</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>En Directo</td>
				<td>2 - 0</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/12/celta_vigo-logo_brandlogos.net_kg8rd-512x512.png"
						width="20"
					/>RC Celta</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/07/fc_barcelona-logo_brandlogos.net_tmdd6-512x512.png"
						width="20"
					/> FC Barcelona</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>En Directo</td>
				<td>0 - 0</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2012/12/real-valladolid-logo-vector.png"
						width="20"
						alt=""
					/> Real Valladolid CF</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2022/07/getafe_cf-logo_brandlogos.net_d1a7q-512x512.png"
						width="20"
						alt=""
					/> Getafe CF</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>En Directo</td>
				<td>0 - 1</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2022/07/elche_cf-logo_brandlogos.net_tkmza-512x512.png"
						width="20"
						alt=""
					/> Elche CF</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/12/cadiz_cf-logo_brandlogos.net_d7kmz-512x512.png"
						width="20"
						alt=""
					/> Cádiz CF</td
				>
			</tr>
			<tr>
				<td>DOM 04.06.2023</td>
				<td>En Directo</td>
				<td>3 - 2</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2014/11/rcd_espanyol-logo_brandlogos.net_2bjai-512x512.png"
						width="20"
						alt=""
					/> RCD Espanyol de Barcelona</td
				>
				<td>Vs</td>
				<td
					><img
						src="https://brandlogos.net/wp-content/uploads/2022/09/ud_almeria-logo_brandlogos.net_xxaem-512x512.png"
						width="20"
						alt=""
					/> UD Almería</td
				>
			</tr>
		</table>
	</div>

</BaseLayout>
