---
import Social from './Social.astro';

---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 20rem;
    }
  </style>
<footer>
  <p>Más información sobre mis proyectos en:</p>
    <ul>
        <li><Social platform="twitter"/></li>
        <li><Social platform="github"/></li>
        <li><a href="https://twitter.com/intent/tweet?screen_name=cheva79&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @cheva79</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <li><a href="https://wa.me/573124944653?text=Me%20encanta%20tu%20pagina,%20tiene%20mucho%20estilo"><button><img src="https://img.freepik.com/free-icon/whatsapp_318-164852.jpg?size=626&ext=jpg" width="20" alt=""></button></a></li>
    </ul>
    

    
</footer>