---
import Social from './Social.astro';

---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 20rem;
    }
  </style>
<footer>
  <p>Más información sobre mis proyectos en:</p>
    <ul>
        <li><Social platform="twitter"/></li>
        <li><Social platform="github"/></li>
    </ul>
    <a href="https://twitter.com/intent/tweet?screen_name=cheva79&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @cheva79</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    
</footer>