---
---
<div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/about">Sobre mi</a>
    <a href="/blog">Blog</a>
    <img src='https://cdn.icon-icons.com/icons2/1637/PNG/256/laliga_109475.png' width = "50" height = "50" />
</div>