---
const { platform } = Astro.props;
---
<a href={`https://www.${platform}.com/cheva79`}>{platform}</a>

<style>
    a {
      padding: 5px;
      margin: 5px;
      color: white;
      background-color: #a493bd;
      text-decoration: none;
      border-radius: 50%;
      display: inline;
    }
  </style>